:root {
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-subheading: 1.25rem;
    --font-size-heading: 1.5rem;
    --font-size-large-heading: 2rem;
}

.mainContainer {
    min-height: 80vh;
    display: flex;
    background: #ff5e00;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 100%;
    height: 100%;
    background-color: #000;
    object-fit: cover;
    min-height: 120px;
    min-width: 320px;
    margin: 0;
}
