:root {
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-subheading: 1.25rem;
    --font-size-heading: 1.5rem;
    --font-size-large-heading: 2rem;
}

.audio {
    display: none;
}

.mainContainer {
    width: 100%;
    min-height: 50vh;
    background-color: #FBCB33;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    display: inline-block;
    width: 71%;
    border-radius: 3px;
    padding: 5px;
    margin-top: 100px;
    font-family: 'Russo One', 'sans-serif';
    font-size: var(--font-size-large-heading);
    color: #FFF;
    text-shadow:
        1.5px 1.5px 0 black,
        -1.5px -1.5px 0 black,
        1.5px -1.5px 0 black,
        -1.5px 1.5px 0 black;
    text-align: center;
    letter-spacing: 2px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3), rgba(255, 255, 255, .5), rgba(255, 255, 255, .3));
}

.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    gap: 100px;
    margin: 50px 0 100px 0;
    width: 85%;
}

@media (max-width: 900px) {

    .mainContainer {
        padding: 10px 30px 0px 30px;
    }

    .cardsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .titulo {
        width: 100%;
    }
}