:root {
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-subheading: 1.25rem;
    --font-size-heading: 1.5rem;
    --font-size-large-heading: 2rem;
}

.audio {
    display: none;
}

.mainContainer {
    width: 100%;
    display: flex;
    background: url('/planetsBackground.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 10px 100px 150px 100px;
}

.encabezado {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.titulo {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 5px;
    margin-top: 100px;
    font-family: 'Russo One', 'sans-serif';
    font-size: var(--font-size-large-heading);
    color: #FFF;
    text-shadow:
        1.5px 1.5px 0 black,
        -1.5px -1.5px 0 black,
        1.5px -1.5px 0 black,
        -1.5px 1.5px 0 black;
    text-align: center;
    letter-spacing: 2px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3), rgba(255, 255, 255, .5), rgba(255, 255, 255, .3));
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charactersContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    row-gap: 50px;
    margin-top: 50px;
}


@media (max-width: 900px) {
    .mainContainer {
        padding: 0px 30px 150px 30px;
    }

    .titulo {
        width: 100%;
    }

    .volverAtrasContainer {
        display: none;
    }
    
    .charactersContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}